<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/b7a74d837b.js" crossorigin="anonymous"></script>
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/css/mentor/pusat-bantuan-mentor.css">
</head>
<body>
      <!-- Modal -->
    <!-- Inbox/Notif -->
    <div
    class="modal fade inboxModal"
    id="inboxModal"
    tabindex="-1"
          aria-labelledby="modalLabel"
  
    aria-hidden="true"
  >
    <!-- <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row mt-1">
            <div class="col-1">
              <i class="fa mt-1 fs-3 fa-bell primary-color me-2"></i>
            </div>
            <div class="col" style="line-height: 0.4;">
              <h5>Request kelas telah disetujui</h5>
              <label class=" inbox-label">Cek selengkapnya untuk memilih mentor</label>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-1">
              <i class="fa mt-1 fs-3 fa-tag primary-color me-2"></i>
            </div>
            <div class="col" style="line-height: 0.4;">
              <h5>Promo Kelas</h5>
              <label class=" inbox-label">Cek selengkapnya untuk memilih mentor</label>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-1">
              <i class="fa mt-1 fs-3 fa-tag primary-color me-2"></i>
            </div>
            <div class="col" style="line-height: 0.4;">
              <h5>Request Kelas telah di tolak</h5>
              <label class=" inbox-label">Cek selengkapnya untuk memilih mentor</label>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-1">
              <i class="fa mt-1 fs-3 fa-check primary-color me-2"></i>
            </div>
            <div class="col" style="line-height: 0.4;">
              <h5>Verifikasi Akun Anda</h5>
              <label class=" inbox-label">Cek selengkapnya untuk memilih mentor</label>
            </div>
          </div>
  
          <a class="btn primary-outline w-100 mt-4" href="edmessage.html">Lihat Semua</a>
        </div>
      </div>
    </div> -->
  </div>
    <!-- Modal; -->
   
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary-color sticky-top ">
      <div class="container-fluid">
        <a class="navbar-brand ms-3" href="home-mentor.html"><img src="/IMG/logo.svg" alt="logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard-mentor">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="edpedia-mentor.html">ed.pedia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/edwallet-mentor" tabindex="-1">ed.wallet</a>
            </li>
            
          </ul>
          <div class="d-flex">
            <!-- Notif -->
            <!-- data-bs-toggle="modal" data-bs-target="#inboxModal" -->
            <a href="edmessage-mentor.html" class="nav-link">
              <i style="font-size: 1.4rem;" class="fa fa-bell text-light"></i>
            </a>
            <div class="input-search">
              <input class="input-field"  placeholder="Search" />
              <button type="submit" class="btn"><i class="fa fa-search text-light"> </i></button>
            </div>
  
            <a href="/profile-mentor" class="nav-link">
              <i style="font-size: 1.6rem;" class="fa fa-sliders text-light"></i>
            </a>
          </div>
        </div>
      </div>

    </nav>
    <!-- Navbar ; -->
    <div class="container mt-5">
      <div class="row tab-container">
        <div class="col sidebar rounded ms-2 me-3">
          <h3 class="fs-5 text-dark mt-3 mb-3 ms-2">
            <i class="fa fa-user-circle"></i> Micola Arighi D
          </h3>
          <hr />
          <!-- Nav tabs -->
          <ul class="nav flex-column nav-tabs">
            
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="option-mentor.html"
                ><i class="fa fa-sliders me-2"></i>Option</a
              >
            </li>
            <hr />
            <li class="nav-item">
              <a class="nav-link pusat-bantuan " data-toggle="tab" href="pusat-bantuan.html"
                ><i class="fa fa-question-circle me-2"></i>Pusat Bantuan</a
              >
            </li>
          </ul>
          <button
            data-bs-toggle="modal"
            data-bs-target="#signout-modal"
            style="width: 100%"
            class="mt-4 btn bg-primary-color text-light"
          >
            Logout
          </button>
        </div>
        <div class="col-md-9 col-12">
          <div class="form-section rounded">
            <div class="row bg-vector" style="align-items: center">
              <div class="col-md-4">
                <img src="/IMG/call-center.svg" alt="" />
              </div>
              <div class="col mb-2">
                <h3 class="fw-bold">Pusat Bantuan ed.versity</h3>
                <h5>Apa yang bisa kami bantu?</h5>
                <input
                  placeholder="Ketik permasalahan anda"
                  type="text"
                  class="form-control help-input"
                  style="width: 90%"
                />
              </div>
            </div>
            <div class="row px-4 py-1 mt-2" style="background-color: #ededed">
              <h4 class="mt-1 fw-bold">Topik Populer</h4>
            </div>
            <div class="row px-4 mt-4">
              <div class="col"><h6>Bagaimana cara membuat kelas?</h6></div>
              <div class="col-1"><i class="fa fa-chevron-right primary-color"></i></div>
            </div>
            <hr />
            <div class="row px-4">
              <div class="col"><h6>Bagaimana cara mengundang teman masuk kelas</h6></div>
              <div class="col-1"><i class="fa fa-chevron-right primary-color"></i></div>
            </div>
            <hr />
            <div class="row px-4 mb-4">
              <div class="col"><h6>Bagaimana cara membatalkan kelas</h6></div>
              <div class="col-1"><i class="fa fa-chevron-right primary-color"></i></div>
            </div>
            <div class="row px-4 py-1 mt-2" style="background-color: #ededed">
              <h4 class="mt-1 fw-bold">Kontak Kami</h4>
            </div>
            <div class="row px-4 mt-4">
              <div class="d-flex justify-content-start">
                <i class="fa fa-envelope primary-color fs-5"></i>
                <h6 class="ms-3">cs@edveersity.co.id</h6>
              </div>
            </div>
            <div class="row px-4 mt-2 mb-4">
              <div class="d-flex justify-content-start">
                <i class="fa fa-phone-alt primary-color fs-5"></i>
                <h6 class="ms-3">14045</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Logout Modal -->
    <div class="modal fade" id="signout-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <h5 class="modal-title" id="modalLabel" style="color: black;">Apakah anda yakin ingin keluar?</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-secondary-color text-light" data-bs-dismiss="modal">Batal</button>
            <a href="main-page.html" type="button" class="btn bg-primary-color text-light">Ya</a>
          </div>
        </div>
      </div>
    </div>
   
  <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<!-- <script src="navbar-mentor.js"></script> -->
<script src="notif-mentor.js"></script>

</body>
</html>