@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  font-weight: 500;
}

body {
  background-color: #1a1a1a;
  background-image: url(/IMG/bg-pattern.png);
  background-attachment: fixed;
}


.accordion .btn-link {
  padding: 0 0 !important;
  font-size: larger;
  margin: 10px 0 !important;
  text-decoration: none;
  color: black;
  font-weight: 500;
  outline: none;
  border: none;
}

.btn-link {
  padding: 0 0 !important;
  font-size: larger;
  margin: 10px 0 !important;
 
  color: black;
  font-weight: 500;
  outline: none;
  border: none;
}

.btn-link:focus {
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}
.bg-primary-color:hover {
  box-shadow: 5px 5px #1a1a1a;
}

.btn-link:hover{
  color: #078874;
}

.buka-kelas-container {
  background-image: url(../../IMG/buka-kelas_mentor-bg.svg);
  background-size: cover;
  margin: 10px 2px;
}

.jadwal-kelas {

  background-blend-mode: darken;
  background-size: cover;
  background-image: url(../../IMG/jadwal-kelas_bg.svg);
  
}

.inboxModal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0px;
  left: 4%;
  z-index: 10040;
}

.form-control:focus {
  box-shadow: none;
}

.input-search input {
  color: white;
  border: none;
  background: none;
  border-bottom: 1px solid white;
  padding: 5px 10px;
  outline: none;
}

.input-search input::placeholder {
  color: white;
}

.input-search .btn {
  position: absolute;
  right: 6%;
}

[placeholder]:focus::-webkit-input-placeholder {
  color: white;
  transition: text-indent 0.4s 0.4s ease;
  text-indent: -100%;
  opacity: 1;
}

@media (max-width: 600px) {
  .input-search input {
    width: 80%;
  }
  .d-flex {
    justify-content: center;
  }
  .navbar-nav {
    font-size: larger;
    text-align: center !important;
  }

  .input-search .btn {
    display: none;
  }

  #inboxModal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0px;
    left: 0;
    z-index: 10040;
  }

  .modal-body label {
    line-height: 1;
  }

  .inbox-label {
    font-size: 12px;
  }

  .container h4 {
    font-size: large;
  }
}

.nav-tabs .active {
  color: #07695b !important;
  background-color: #ededed !important;
  outline: none;
  border: none;
}

.nav-tabs .nav-link {
  text-shadow: none !important;
}

.list-prodi {
  background-color: #fff;
}

.nav-tabs {
  outline: none;
  border: none;
}

.form-control:focus {
  box-shadow: none;
}

.form-control,
.search-class {
  z-index: 0;
}

.tab-container .nav-link {
  color: black !important;
}

.navbar-nav {
  font-size: 18px;
  font-weight: 600;
}

.nav-link {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white !important;
  padding: 6px 14px !important;
}

.nav-link:hover {
  transition: 0.2s ease !important;
  opacity: 0.7 !important;
}
.search-btn {
  background-color: white;
}

.foto-profil {
  border-radius: 100%;
  width: 80px;
}

.primary-color {
  color: #078874;
}

.bg-primary-color {
  background-color: #078874;
}

.primary-outline {
  border: solid 0.5px #078874;
  color: #078874;
}

.secondary-color {
  color: #022721;
}

.bg-secondary-color {
  background-color: #022721;
}

.bg-dark-color {
  background-color: rgb(20, 20, 20);
}

.dark-color {
  color: rgb(20, 20, 20);
}

#requestBtn {
  font-size: 16px;
  padding: 8px 54px;
  transition: 0.3s ease;
  z-index: 2;
}

#requestBtn:hover {
  opacity: 0.95;
  transform: scale(1.2);
}

@media screen and (min-width: 576px) {
  .requestBtn {
    font-size: 16px;
  }
}
