<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <!-- main-page.css -->
    <link rel="icon" href="IMG/logo.png" />
    <link rel="shortcut icon" href="IMG/logo.png" />
    <title>ed.versity - login/register</title>
    <link rel="stylesheet" href="css/main-page.css" />
  </head>

  <body>
    <div class="splash">
      <div id="video_wrapper">
        <video autoplay muted>
          <source src="#" type="video/mp4" /> <!--nanti di src="VID/Comp_1.mp4"-->
        </video>
      </div>
    </div>
    <div class="content">
      <div class="container rounded-3">
        <div class="row mt-4">
          <center>
            <img
              class="img-fluid"
              src="IMG/ed.versity.svg"
              width="400px"
              alt=""
            />
          </center>
        </div>
        <div class="row mb-4" style="text-align: center">
          <div class="welcome-txt text-light">
            <h1 class="welcome-txt">Selamat datang</h1>
            <p class="fs-5">di Layanan Kelas Online 24 Jam</p>
          </div>
        </div>
        <center>
          <div class="row mb-4">
            <div class="col-md-6 col-12 login-section">
              <a href="/login-student">
                <img
                  class="img-login"
                  src="IMG/pelajar.svg"
                  width="188px"
                  height="170.6px"
                  alt=""
                />
                <h6>Login Sebagai Pelajar</h6>
              </a>
            </div>
            <div class="col-md-6 col-12 login-section">
              <a href="/login-mentor">
                <img
                  class="img-login"
                  src="IMG/pengajar.svg"
                  alt=""
                  width="188px"
                  height="170.6px"
                />
                <h6>Login Sebagai Mentor</h6>
              </a>
            </div>
          </div>
        </center>
        <div class="row mb-5">
          <center>
            <a class="text-white" href="/register-student"
              >Tekan disini untuk membuat akun</a
            >
          </center>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
