<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ed.versity - Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/student/login-pelajar.css" />
    <link rel="shortcut icon" href="IMG/logo.png" />
  </head>

  <body>
    <!-- Main Container -->
    <div class="container main-container">
      <div class="login-form-container mt-5 mb-5">
        <div class="row mt-5 mb-5">
          <div class="col-md-6 col-12 login-side">
            <img src="IMG/logo-login_register.png" alt="ed.versity" />
            <h4 class="text-light" style="font-weight: 600">
              Login Sebagai Pelajar
            </h4>
            <img class="login-side-image" src="IMG/pelajar.svg" />
          </div>
          <div class="col-md-6 col-12 login-form">
            <% if (success && success.length) { %>
            <div
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <%= success %>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            <% } %> <% if (error && error.length) { %>
            <div
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              <%= error %>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            <% } %>

            <h4 class="text-dark mt-4" style="text-align: center">Masuk</h4>
            <center>
              <div
                class="bg-primary-color mb-4"
                style="width: 30%; height: 4px"
              ></div>
            </center>
            <form action="/loginStudent" method="POST">
              <div class="mb-3">
                <label for="inputEmail1" class="form-label">Alamat Email</label>
                <input
                  placeholder="Silahkan masukkan email anda.."
                  type="email"
                  class="inputEmail form-control"
                  aria-describedby="emailHelp"
                  name="email"
                />
                <div id="emailHelp" class="form-text">
                  Kita tidak pernah menyebarkan info pribadi anda.
                </div>
              </div>
              <div class="mb-3">
                <label for="inputPassword1" class="inputPassword form-label"
                  >Kata Sandi</label
                >
                <input
                  placeholder="Mohon isi kata sandi anda.."
                  type="password"
                  class="form-control"
                  name="password"
                />
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="check-1" />
                <label class="form-check-label" for="check-1"
                  >Ingat kata sandi</label
                >
              </div>
              <button
                type="submit"
                style="width: 100%; margin-top: 6px"
                class="btn text-light bg-primary-color"
              >
                Kirim
              </button>
              <p style="text-align: center" class="text-secondary mt-4">
                Tidak punya akun?
                <a class="register-link" href="/registerStudent"
                  >Daftar Sekarang</a
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
